

h1{
  text-align:center;
}

.tableContainer {
  position: relative;
  height: 200px;
  margin-right: -1px;
}

.row {

  clear: both;
    height: 50%;
    width: 100%;
}

.elementContainer {
  float: left;
  padding-bottom: 5px;
  /*background-color: green;*/
  position: relative;
  width: 5.5%;
  height: 100%;
}

.element{
  color:black;
 position: relative;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center; 
}
.extraInfo{
  font-size: 12px;
}
.symbol{
  font-weight: bold;
  font-size: 
}
.aNum{
  float:left;
  font-size: 12px;
}

#Lanthanoids, #Actinoids{
  color:white;
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: rgba(100,100,100,50);
}

#wikiContainer{
  padding-top: 100px;
}
.null{
  display: none;
}

.He,.Ne,.Ar,.Kr,.Xe,.Rn,.Og{
  background-color: rgb(200,100,200);
}
.F,.Cl,.Br,.I,.At,.Ts{
  background-color: rgb(255,0,255);
}

.O,.S,.Se,.N,.P,.C,.H{
background-color: rgb(0,0,255);
}
.B,.Si,.Ge,.As,.Sb,.Te,.Po{
background-color: rgb(0,200,200);
}
.Al,.Ga,.In,.Tl,.Nh,.Fl,.Pb,.Sn,.Bi,.Mc,.Lv{
  background-color: rgb(50,200,50);
}

.Zn,.Cd,.Hg,.Cn,.Cu,.Ag,.Au,.Rg,.Ni,.Pd,.Pt,.Ds,.Co,.Rh,.Ir,.Mt,.Fe,.Ru,.Os,.Hs,.Mn,.Tc,.Re,.Bh{
  background-color: rgb(250,250,0);
}
.Cr,.Mo,.W,.Sg,.V,.Nb,.Ta,.Db,.Rf,.Hf,.Zr,.Ti,.Sc,.Y{
  background-color: rgb(250,250,0);
}
 .Be,.Mg,.Ca,.Sr,.Ba,.Ra{
  background-color: rgb(250,175,0);
 }
 .Li,.Na,.K,.Rb,.Cs,.Fr{
  background-color: rgb(200,50,50);
 }