




h1{
  text-align:center;
}

.tableContainer {
  position: relative;
  height: 200px;
  margin-right: -1px;
}

.row {

  clear: both;
    height: 10%;
}

.elementContainer {
  float: left;
  padding-bottom: 5px;
  /*background-color: green;*/
  position: relative;
  width: 5.55%;
  height: 100%;
}

.element{

 position: relative;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  text-align: center; 
}
.extraInfo{
  font-size: 12px;
}

.aNum{
  
  font-size: 18px;
}

#Lanthanoids, #Actinoids{
  padding-top: 20px;
  color: red;
}
